
projeto_conversor/ConverterTemperatura/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
projeto_conversor/ConverterTemperatura/app/src/main/res/drawable/ic_launcher_background.xml
projeto_conversor/ConverterTemperatura/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
projeto_conversor/ConverterTemperatura/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
projeto_conversor/ConverterTemperatura/app/src/main/res/mipmap-hdpi/ic_launcher.png
projeto_conversor/ConverterTemperatura/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
projeto_conversor/ConverterTemperatura/app/src/main/res/mipmap-mdpi/ic_launcher.png
projeto_conversor/ConverterTemperatura/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
projeto_conversor/ConverterTemperatura/app/src/main/res/mipmap-xhdpi/ic_launcher.png
projeto_conversor/ConverterTemperatura/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
projeto_conversor/ConverterTemperatura/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
projeto_conversor/ConverterTemperatura/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
projeto_conversor/ConverterTemperatura/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
projeto_conversor/ConverterTemperatura/app/src/test/java/br/unicamp/convertertemperatura/ExampleUnitTest.java
projeto_conversor/ConverterTemperatura/gradle.properties
projeto_conversor/ConverterTemperatura/gradle/wrapper/gradle-wrapper.jar
projeto_conversor/ConverterTemperatura/gradle/wrapper/gradle-wrapper.properties
projeto_conversor/ConverterTemperatura/gradlew
projeto_conversor/ConverterTemperatura/gradlew.bat
projeto_conversor/ConverterTemperatura/build.gradle
projeto_conversor/ConverterTemperatura/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
projeto_conversor/ConverterTemperatura/app/proguard-rules.pro
projeto_conversor/ConverterTemperatura/.idea/codeStyles/Project.xml
projeto_conversor/ConverterTemperatura/.idea/gradle.xml
projeto_conversor/ConverterTemperatura/.idea/vcs.xml
